.header{
    position: sticky;
    top: 0;
    background-color: #fff;
    border: 0 solid #eee;
    border-bottom-width: 1px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
        color: #333;
        text-wrap: nowrap;
    }
    nav{
        display: flex;
        align-items: center;
        gap: 1rem;

        a:last-child{
            background-color: black;
            color: #fff;
            padding: .3rem .5rem;
            border-radius: .3rem;
            display: flex;
            justify-content: center;
        }
    }
}
